/* ClearFix
-------------------------------------------------- */
*, :after, :before {
	box-sizing: border-box
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

a {
	color: inherit;
	text-decoration: none
}

/* Custom CSS
-------------------------------------------------- */
.add-part-button-div {
	width: 135px;
	margin-left: auto;
	margin-right: auto;
}

#modal-overlay-loading {
	background-color: #ffffffe8;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.modal-confirm #modal-overlay-loading {
	margin-top: -20px;
	margin-left: -20px;
}

.modal-overlay-text {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.custom-dropdown-button-group {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.custom-dropdown-button {
	width: 100%;
}

.custom-dropdown-button-list {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.button-add-system {
	padding-right: 15px;
	padding-left: 15px;
	float: right;
	margin-bottom: 10px;
}

.button-right .btn {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
    text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn {
	color: black;
	border-radius: 4px !important;
	border: 1px solid #f15e5e !important;
	background: white;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
	outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.box .overlay, .overlay-wrapper .overlay {
	background: rgba(255, 255, 255, 0.85);
}

.box.box-info {
	border-top-color: #3c8dbc;
}

.removeButtonStyle:hover {
	background: rgba(0, 0, 0, 0.1);
}

.box .box-body .nav-pills {
	margin-bottom: 10px;
}

.active-language {
	background: rgba(0, 0, 0, 0.1) !important;
}

.box-header[data-widget="collapse"] {
	cursor: pointer;
	background-color: #f3f3f3;
}

#box-systems-container .box {
	border-left: 1px solid #d2d6de;
	border-right: 1px solid #d2d6de;
}

.pills-in-box .nav-pills li a {
	color: white;
	background: #367fa9bf;
}

.pills-in-box .nav-pills li.active a {
	background: #367fa9;
}

.pills-in-box .nav-pills li a:hover {
	background: #367fa9;
}

.removeButtonStyle {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.lang-image {
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 15px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Home Page tile layout
-------------------------------------------------- */
.tile-layout {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin-top: 15px
}

.tile-layout-item {
	display: flex;
	padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 30em) {
	.tile-layout-item {
		width: 50%;
	}
}

@media all and (min-width: 40em) {
	.tile-layout-item {
		width: 33.33%;
	}
}

@media all and (min-width: 60em) {
	.tile-layout-item {
		width: 25%;
	}
}

.tile-layout-item-content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
	cursor: pointer;

	border: solid 3px #3c8dbc;
	clip-path: polygon( calc(0% + 5px) calc(0% + 5px), /* top left */
		calc(100% - 5px) calc(0% + 5px), /* top right */
		calc(100% - 5px) calc(100% - 5px), /* bottom right */
		calc(0% + 5px) calc(100% - 5px) /* bottom left */
	);
	transition: clip-path 0.3s linear;
}

.tile-layout-item-content:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.tile-layout-item-content p {
	flex: 1 0 auto;
}

.tile-layout-item-content img {
	height: auto;
	width: 75px;
}