/* Home Page tile layout
-------------------------------------------------- */
.tile-layout {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.tile-layout-item {
	display: flex;
	padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 30em) {
	.tile-layout-item {
		width: 50%;
	}
}

@media all and (min-width: 40em) {
	.tile-layout-item {
		width: 33.33%;
	}
}

@media all and (min-width: 60em) {
	.tile-layout-item {
		width: 25%;
	}
}

.tile-layout-item-content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}

.tile-layout-item-content p {
	flex: 1 0 auto;
}

.tile-layout-item-content img {
	height: auto;
	width: 75px;
}