/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Home Page tile layout
-------------------------------------------------- */
.tile-layout {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.tile-layout-item {
	display: flex;
	padding: 0.5em;
	width: 100%;
}

@media all and (min-width: 30em) {
	.tile-layout-item {
		width: 50%;
	}
}

@media all and (min-width: 40em) {
	.tile-layout-item {
		width: 33.33%;
	}
}

@media all and (min-width: 60em) {
	.tile-layout-item {
		width: 25%;
	}
}

.tile-layout-item-content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
}

.tile-layout-item-content p {
	flex: 1 0 auto;
}

.tile-layout-item-content img {
	height: auto;
	width: 75px;
}