@model FacilityManagement.Web.Models.ViewModels.CompressorSystemDetailsViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Додади нов систем</h4>
</div>
<div class="modal-body">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CompressorSubTypeId" class="selectedSubTypeIdValue"/>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
    <button type="submit" class="btn btn-info">Додади</button>
</div>
