@{
    ViewData["Title"] = "Почетна";
    ViewData["Description"] = "Кратко инфо";
}

<ul class="tile-layout">
    <li class="tile-layout-item">
        <div class="tile-layout-item-content">
            <h2><a href="/Compressors/">Compressors</a></h2>
            <img src="~/images/chiller.jpg" alt="" />
        </div>
    </li>
</ul>