@{
    ViewData["Title"] = "Почетна";
    ViewData["Description"] = "Кратко инфо";
}

<ul class="tile-layout">
    <li class="tile-layout-item">
        <div class="tile-layout-item-content">
            <h2>Compressors</h2>
            <img src="~/images/chiller.jpg" alt="" />
        </div>
    </li>
</ul>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".tile-layout-item-content").click(function () {
                window.location.href = "/InventoryObjects/";
            });
        });
    </script>
}