@using Microsoft.AspNetCore.Mvc.Localization
@using FacilityManagement.Web

@{
    ViewData["Title"] = SharedLocalizer["Home"].Value;
    ViewData["Description"] = "";
}

<ul class="tile-layout">
    <li class="tile-layout-item">
        <div class="tile-layout-item-content" category="Compressor">
            <h2>@SharedLocalizer["Compressors"].Value</h2>
            <img src="~/images/kompresor.png" alt="" />
        </div>
    </li>

    <li class="tile-layout-item">
        <div class="tile-layout-item-content" category="ClimateChamber">
            <h2>@SharedLocalizer["Climate chambers"].Value</h2>
            <img src="~/images/klima-komora.jpg" alt="" />
        </div>
    </li>

    <li class="tile-layout-item">
        <div class="tile-layout-item-content" category="Chiller">
            <h2>@SharedLocalizer["Chillers"].Value</h2>
            <img src="~/images/chiler.jpg" alt="" />
        </div>
    </li>
</ul>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".tile-layout-item-content").click(function () {
                window.location.href = "/InventoryObjects?category=" + $(this).attr("category");
            });
        });
    </script>
}