@model FacilityManagement.Web.Models.ViewModels.UpdatePartDetailsViewModel

<div id="replaceWithAjax">
    <form asp-action="EditInventoryObjectPartAjaxFormAsync" asp-controller="InventoryObjectParts"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-complete="onEditPartComplete"
          data-ajax-mode="replace"
          data-ajax-update="#replaceWithAjax"
          data-ajax-loading="#modal-overlay-loading">


        <partial name="Modals/_ModalHeader" model='new ModalHeader() {
                 Heading = "Измени компонента"
        }' />

        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryObjectPartId" id="currentPart" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <partial name="Modals/_ModalFooter" model='new ModalFooter() { }' />
    
    </form>
</div>