/* Login/Register Page
-------------------------------------------------- */
.alert-danger {
	color: #ffffff;
	background-color: #ffffff4d;
	border-color: #ed0026;
}

.login-wrap {
    width: 100%;
    padding-top: 25px;
    color: #bbbbbb;
    font: 600 14px/18px 'Open Sans',sans-serif;
    margin: auto;
    max-width: 525px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
    width: 100%;
    height: 100%;
    padding: 20px 70px 20px 70px;
    background: rgba(40,57,101,.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }

    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button {
        text-transform: uppercase;
    }

    .login-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 15px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .login-html .sign-in:checked + .tab,
    .login-html .sign-up:checked + .tab {
        color: #fff;
        border-color: #3c8dbc;
    }

    .login-html label.tab {
        width: 100%;
        text-align: center;
    }

.login-form {
    min-height: 345px;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-top: 10px;
}

    .login-form .group {
        margin-bottom: 15px;
    }

        .login-form .group .label,
        .login-form .group .input,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
        }

        .login-form .group .input,
        .login-form .group .button {
            border: none;
            padding: 15px 20px;
            border-radius: 25px;
            background: rgba(255,255,255,.1);
        }

        .login-form .group input[data-type="password"] {
            text-security: circle;
            -webkit-text-security: circle;
        }

        .login-form .group .label {
            color: #aaa;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #3c8dbc;
        }

        .login-form .group label .icon {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            background: rgba(255,255,255,.1);
        }

            .login-form .group label .icon:before,
            .login-form .group label .icon:after {
                content: '';
                width: 10px;
                height: 2px;
                background: #fff;
                position: absolute;
                transition: all .2s ease-in-out 0s;
            }

            .login-form .group label .icon:before {
                left: 3px;
                width: 5px;
                bottom: 6px;
                transform: scale(0) rotate(0);
            }

            .login-form .group label .icon:after {
                top: 6px;
                right: 0;
                transform: scale(0) rotate(0);
            }

        .login-form .group .check:checked + label {
            color: #fff;
        }

            .login-form .group .check:checked + label .icon {
                background: #3c8dbc;
            }

                .login-form .group .check:checked + label .icon:before {
                    transform: scale(1) rotate(45deg);
                }

                .login-form .group .check:checked + label .icon:after {
                    transform: scale(1) rotate(-45deg);
                }

.hr {
    height: 2px;
    margin: 30px 0 30px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

    .foot-lnk a {
        text-decoration: none;
    }

        .foot-lnk a:link,
        .foot-lnk a:visited,
        .foot-lnk a:active {
            color: #bbbbbb;
        }

        .foot-lnk a:hover {
            color: #fff;
        }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    -moz-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: rgba(255, 255, 255, 0.15);
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: rgba(255, 255, 255, 0.15);
        color: inherit;
    }
}

/* Custom CSS
-------------------------------------------------- */
.bodyBackground {
	background: url("../images/login-bg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}