@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;
@inject IAuthorizationService AuthorizationService

<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

       <img src="~/images/Employee-Photos/avatar5.png" class="user-image" alt="User Image">
       <span class="hidden-xs">@(((ClaimsIdentity)User.Identity).FindFirst("name").Value)</span>

    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/images/Employee-Photos/avatar5.png" class="img-circle" alt="User Image">
            <p>
                @(((ClaimsIdentity)User.Identity).FindFirst("name").Value)
                <small>@(((ClaimsIdentity)User.Identity).FindFirst("position").Value)</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a class="btn btn-default btn-flat" href="#" title="Profile">Профил</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-default btn-flat" asp-controller="Home" asp-action="Logout" title="Logout">Одјави се</a>
            </div>
        </li>
    </ul>
</li>
}