@model FacilityManagement.Web.Models.ViewModels.TypeDetailsViewModel

<div id="replaceWithAjax">
    <form asp-action="AddInventoryObjectTypeAjaxForm" asp-controller="InventoryObjectTypes"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-complete="onAddCompressorTypeComplete"
          data-ajax-mode="replace"
          data-ajax-update="#replaceWithAjax"
          data-ajax-loading="#modal-overlay-loading">

        <partial name="Modals/_ModalHeader" model='new ModalHeader() {
                 Heading = SharedLocalizer["Add type"].Value
        }' />
        
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryObjectId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <partial name="Modals/_ModalFooter" model='new ModalFooter() { }' />

    </form>
</div>